<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="AppVeyor - SqlBulkUpsert" value="https://ci.appveyor.com/nuget/sqlbulkupsert-p92ksrrq57h8" />
        <add key="AppVeyor - toofz" value="https://ci.appveyor.com/nuget/toofz-hd6q0cw9w9fp" />
    </packageSources>
</configuration>