<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="AppVeyor - SqlBulkUpsert" value="https://ci.appveyor.com/nuget/sqlbulkupsert-p92ksrrq57h8" />
        <add key="AppVeyor - toofz" value="https://ci.appveyor.com/nuget/toofz-hd6q0cw9w9fp" />
        <add key="AppVeyor - toofz.NecroDancer" value="https://ci.appveyor.com/nuget/toofz-necrodancer-core-gycfet3ct2k6" />
        <add key="AppVeyor - toofz.NecroDancer.EntityFramework" value="https://ci.appveyor.com/nuget/toofz-necrodancer-entityframew-6p10o8u51uvg" />
    </packageSources>
</configuration>