@import "../node_modules/bootswatch/slate/variables";
@import "bootstrap-custom";

.nav {
    > li,
    > nd-dropdown,
    > .nav-item {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            padding: $nav-link-padding;
            &:hover,
            &:focus {
                text-decoration: none;
                background-color: $nav-link-hover-bg;
            }
        }

        // Disabled state sets text to gray and nukes hover/tab effects
        &.disabled > a {
            color: $nav-disabled-link-color;

            &:hover,
            &:focus {
                color: $nav-disabled-link-hover-color;
                text-decoration: none;
                background-color: transparent;
                cursor: $cursor-disabled;
            }
        }
    }

    // Prevent IE8 from misplacing imgs
    //
    // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
    > li,
    > nd-dropdown,
    > .nav-item {
        > a > img {
            max-width: none;
        }
    }
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
    > li,
    > nd-dropdown,
    > .nav-item {
        > a {
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: $line-height-computed;
        }
    }

    @media (max-width: $grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
            > li > a,
            > nd-dropdown > a,
            > .nav-item > a,
            .dropdown-header {
                padding: 5px 15px 5px 25px;
            }
            > li,
            > nd-dropdown,
            > .nav-item {
                > a {
                    line-height: $line-height-computed;
                    &:hover,
                    &:focus {
                        background-image: none;
                    }
                }
            }
        }
    }

    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {
        > li,
        > nd-dropdown,
        > .nav-item {
            float: left;
            > a {
                padding-top: $navbar-padding-vertical;
                padding-bottom: $navbar-padding-vertical;
            }
        }
    }
}

// Dropdown menus

// Menu position and menu carets
.navbar-nav {
    > li,
    > nd-dropdown,
    > .nav-item {
        > .dropdown-menu {
            margin-top: 0;
            @include border-top-radius(0);
        }
    }
}

// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
    .navbar-nav {
        > li,
        > nd-dropdown,
        > .nav-item {
            > a {
                color: $navbar-default-link-color;

                &:hover,
                &:focus {
                    color: $navbar-default-link-hover-color;
                    background-color: $navbar-default-link-hover-bg;
                }
            }
        }
    }

    // Dropdown menu items
    .navbar-nav {
        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li,
                > nd-dropdown,
                > .nav-item {
                    > a {
                        color: $navbar-default-link-color;
                        &:hover,
                        &:focus {
                            color: $navbar-default-link-hover-color;
                            background-color: $navbar-default-link-hover-bg;
                        }
                    }
                }
            }
        }
    }
}

@mixin btn-shadow-inverse($color) {
    @include gradient-vertical-three-colors(darken($color, 24%), darken($color, 18%), 40%, darken($color, 16%));
    filter: none;
}

.navbar {
    .navbar-nav {
        > li,
        > nd-dropdown,
        > .nav-item {
            > a {
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                border-left: 1px solid rgba(255, 255, 255, 0.1);

                &:hover {
                    @include btn-shadow-inverse($navbar-default-bg);
                    border-left-color: transparent;
                }
            }
        }
    }

    &-inverse {
        .navbar-nav {
            > li,
            > nd-dropdown,
            > .nav-item {
                > a {
                    &:hover {
                        @include btn-shadow-inverse($navbar-inverse-bg);
                    }
                }
            }
        }
    }

    &-nav {
        > li,
        > nd-dropdown,
        > .nav-item {
            &.active > a {
                border-left-color: transparent;
            }
        }
    }
}

.dropdown-submenu {
    position: relative;

    > nd-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    > a {
        cursor: default;
    }

    > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    &:hover {
        > nd-submenu > .dropdown-menu {
            display: block;
        }

        > a:after {
            border-left-color: #fff;
        }
    }

    &.pull-left {
        float: none;

        > nd-submenu > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    }
}
