<ul ng-if="::$ctrl.category.categories.length"
    class="dropdown-menu">
    <li ng-repeat="category in ::$ctrl.category.categories"
        ng-class="::{ 'dropdown-submenu': category.categories }">
        <a ng-href="{{::category.path}}">
            <img ng-if="::category.icon"
                 ng-src="{{::category.icon}}"
                 width="30" height="30"
                 class="character-icon">
            {{::category.name}}
        </a>

        <nd-submenu category="::category"></nd-submenu>
    </li>
</ul>