<h3>{{::$ctrl.title}}</h3>

<div class="row">
    <table class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Slot</th>
                <th class="text-center">Unlock</th>
                <th class="text-center">Cost</th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr ng-repeat="item in ::$ctrl.data.items">
                <td class="text-left">
                    <img width="36" height="36" ng-src="https://toofz.blob.core.windows.net/crypt/items/{{::item.name}}_0_m.png">
                    <span class="text-highlight">{{::item.display_name}}</span>
                </td>
                <td>
                    <span ng-if="::item.slot" class="text-muted">{{::item.slot | titlecase}}</span>
                </td>
                <td>
                    <span class="currency diamond" ng-if="::item.unlock">{{::item.unlock}}</span>
                </td>
                <td>
                    <span class="currency coin" ng-if="::item.cost">{{::item.cost}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<nd-pagination class="row" data="::$ctrl.records"></nd-pagination>