<h3>{{::$ctrl.title}}</h3>

<div class="well">
    <form class="form-horizontal">
        <div class="form-group"
             ng-repeat="(categoryName, category) in ::$ctrl.categories">
            <div class="col-sm-12">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default"
                           ng-repeat="(itemName, item) in ::category"
                           ng-class="{ active: item.value }">
                        <img ng-if="::item.icon"
                             ng-src="{{::item.icon}}"
                             width="30" height="30">
                        <input type="checkbox"
                               ng-model="item.value"
                               ng-change="::$ctrl.search()">{{::item.display_name}}
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="well">
    <div class="list-group"
         ng-if="::$ctrl.leaderboards.length"
         ng-repeat="leaderboard in ::$ctrl.leaderboards track by leaderboard.id">
        <a class="list-group-item"
           ui-sref="root.leaderboard({ product: leaderboard.product, mode: leaderboard.mode, run: leaderboard.run, character: leaderboard.character })">
            <img ng-src="/images/characters/{{::leaderboard.character}}.png"
                 width="30" height="30">
            {{::leaderboard.display_name}}
            <span class="badge">{{::leaderboard.total | number}}</span>
        </a>
    </div>

    <div ng-if="::!$ctrl.leaderboards.length">
        Your search parameters did not match any leaderboards.
    </div>
</div>
