<!DOCTYPE html>
<html lang="en" ng-app="necrodancer.app" ng-strict-di>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=YAAzMn6vYo">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=YAAzMn6vYo">
        <link rel="icon" type="image/png" href="/favicon-32x32.png?v=YAAzMn6vYo" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=YAAzMn6vYo" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png?v=YAAzMn6vYo" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png?v=YAAzMn6vYo" sizes="16x16">
        <link rel="manifest" href="/manifest.json?v=YAAzMn6vYo">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=YAAzMn6vYo" color="#53788a">
        <link rel="shortcut icon" href="/favicon.ico?v=YAAzMn6vYo">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=YAAzMn6vYo">
        <meta name="theme-color" content="#474747">
        <title ng-if="title" ng-bind="title + ' | Crypt of the NecroDancer | toofz'">Crypt of the NecroDancer | toofz</title>
        <title ng-if="!title">Crypt of the NecroDancer | toofz</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet" integrity="sha256-cp9lCRHDsELuWqPLwCHG6LXz+nk32BzccNd0N2v5yjM=" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet" integrity="sha256-3c9LKIgnbVhWZ3sjhR5aRBWFb+4sVZu6IaRnyj8geTo=" crossorigin="anonymous">
        <link href="css/site.min.css" rel="stylesheet">
    </head>

    <body>
        <ui-view class="container"></ui-view>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="lib/bootstrap/bootstrap.min.js?v=1"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js" integrity="sha256-SjPDuWPRLxUNqTwhiAcTNcIwQLbf5khquJsz5fekYms=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js" integrity="sha256-8r65KJgULBDiZhwDydfWrEkx3yyV/grGsGzaekobngI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" integrity="sha256-zBy1l2WBAh2vPF8rnjFMUXujsfkKjya0Jy5j6yKj0+Q=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js" integrity="sha256-FijCFjtKttBk/T8HE2qmA3ubtCMTuhwU6KUQjQK/y8g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js" integrity="sha256-equUbqqmQ/UsoL6zkgolTGUnZ9VJs/o7plSCor12hyI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.10/URI.min.js" integrity="sha256-OSWfaJ3kpLQv6ZzoiITKLVJczKgsDH2Z56uPkAvSQZY=" crossorigin="anonymous"></script>
        <script src="site.min.js?v=15"></script>
    </body>
</html>
