<h5 class="summary">
    Showing {{$ctrl.records.start | number}} to {{$ctrl.records.end | number}} of {{$ctrl.records.total | number}} entries
</h5>

<nav>
    <ul class="pagination">
        <!-- Previous -->
        <li ng-if="$ctrl.pages.current <= $ctrl.pages.start"
            class="disabled">
            <span>Previous</span>
        </li>
        <li ng-if="$ctrl.pages.current > $ctrl.pages.start">
            <a ui-sref="{ page: $ctrl.pages.current - 1 }">Previous</a>
        </li>
        <!-- /Previous -->

        <!-- Start -->
        <li ng-class="{ active: $ctrl.pages.current === $ctrl.pages.start }"
            ng-if="$ctrl.pages.isStartVisible">
            <a ui-sref="{ page: $ctrl.pages.start }">{{$ctrl.pages.start}}</a>
        </li>
        <!-- /Start -->

        <!-- ... -->
        <li ng-if="$ctrl.pages.isStartVisible"
            class="disabled">
            <span>...</span>
        </li>
        <!-- /... -->

        <!-- Middle -->
        <li ng-repeat="page in $ctrl.pages.middle"
            ng-class="{ active: $ctrl.pages.current === page }">
            <a ui-sref="{ page: page }">{{page}}</a>
        </li>
        <!-- /Middle -->

        <!-- ... -->
        <li ng-if="$ctrl.pages.isEndVisible"
            class="disabled">
            <span>...</span>
        </li>
        <!-- /... -->

        <!-- End -->
        <li ng-class="{ active: $ctrl.pages.current === $ctrl.pages.end }"
            ng-if="$ctrl.pages.isEndVisible">
            <a ui-sref="{ page: $ctrl.pages.end }">{{$ctrl.pages.end}}</a>
        </li>
        <!-- /End -->

        <!-- Next -->
        <li ng-if="$ctrl.pages.current < $ctrl.pages.end">
            <a ui-sref="{ page: $ctrl.pages.current + 1 }">Next</a>
        </li>
        <li ng-if="$ctrl.pages.current >= $ctrl.pages.end"
            class="disabled">
            <span>Next</span>
        </li>
        <!-- /Next -->
    </ul>
</nav>